body{
	font-family: 'Montserrat', sans-serif;
	
}

.row{
	height: 50px;
}

.row li a{
	color: #404141;
}

#header-container .container a {
	font-size: 0.8em;
}

#header-container{
	background-color: #99c84a;
	color: white;
	font-size: 1.5em;
}

#header-container .login{
	color: white;
}

#menu-container{
	background-color: #f7f7f9;
}

.btn.btn-juego{
	background-color: #99c84a;
	color: white;
}
.btn.btn-juego:hover{
	background-color: #8ab542;
}
input.form-control:focus{
	border-color: #8ab542;
}

#search-bar{
	padding: .2em 1em;
}

#breadcrumb-conf .breadcrumb{
	background-color: #ffffff;
	padding: 0rem 1rem;
	margin-bottom: 0rem;
}
#breadcrumb-conf .breadcrumb .breadcrumb-item{
	color: #1c3643;
}
#breadcrumb-conf .breadcrumb .breadcrumb-item.active{
	color: #95a5a6;
}

#breadcrumb-conf .breadcrumb-item+.breadcrumb-item::before{
	content: ">";
}


#filtros-container .list-group-item-action.active{
	background-color: #99c84a;
	border-color: #99c84a;
}

#filtros-container .list-group{
		width: 100%;
}
#filtros-container{
	margin-top: 1em;
}
.list-group h5{
	margin-left: -10px; 
	padding: 0px;
}

/*los estilos se ejecutarán hasta los 768px*/
@media (max-width: 768px){
	#items-juegos{
		margin-top: 1em;
	}
}
#items-juegos .card{
	margin-bottom: 1em;
}
