body{
	font-family: 'Montserrat', sans-serif;
	
}

.row{
	height: 50px;
}

.row li a{
	color: #404141;
}

#header-container .container a {
	font-size: 0.8em;
}

#header-container{
	background-color: #99c84a;
	color: white;
	font-size: 1.5em;
}

#header-container .login{
	color: white;
}

#menu-container{
	background-color: #f7f7f9;
}

.btn.btn-juego{
	background-color: #99c84a;
	color: white;
}
.btn.btn-juego:hover{
	background-color: #8ab542;
}
input.form-control:focus{
	border-color: #8ab542;
}

#search-bar{
	padding: 1em;
}


