body{
	color: white;
}

#titulo{
	position: absolute;
	background: rgba(0,255,0,.1);
	display: block;
	width: 100%;
	text-align: center;
}

h1{
	color: white;
	background: black;
	display: inline-block;
	margin: auto;
	padding: 15px;
	border-radius: 50px 0px;
}

#aside{
	position: absolute;
	background: purple;
	width: 200px;
	height: 200px;
	top: 100px;
	left: -180px;
	border-radius: 0px 30px 30px 0px;
}
#aside li, #aside a{
	list-style: none;
	text-decoration: none;
	color: white;
	padding: 4px;
	margin:0px;
	font-weight: bold;
}


/*-----canvas*/

#canvas{
	height: 500px;
	width: 99%;
	background: black;
	position: absolute;
	z-index: -1;
	top: 100px;
	left: 4px;
	border-radius: 10px;
}
#juego{
	height: 450px;
	width: 90%;
	background: rgba(0,100,0,.9);
	margin: auto;
	position: relative;
	z-index: 100;
	top:25px;
}

/*probando los divs responsivos*/
.prueba{
	height: 50px;
	width: 50px;
	background: red;
	position: relative;
	top:120px;
	margin-left: 15%;
	border-radius: 50px;
}


/*adhiriendo stilos del archivo lógicaJuego*/

	.personaje1{
		background-image: url("../img/sumaP.png");
		background-size: 100px 100px;
		background-repeat: no-repeat;
	}

	.personaje2{
		background-image: url("../img/restaP.png");
		background-size: 100px 100px;
		background-repeat: no-repeat;
	}

	.personaje3{
		background-image: url("../img/sumaT.png");
		background-size: 100px 100px;
		background-repeat: no-repeat;
	}

	#caja1,#caja2,#caja3{
		border-radius: 100px;
	}
	#caja1{
		height: 100px;
		width: 100px;
		position: absolute; /*los relativos ocasionan problemas. la verdad no sé por qué, pero creo que será mejor usar valores absolutos.*/
		top:100px;
		margin-left: 15%;
	}
	#caja2{
		height: 100px;
		width: 100px;
		position: absolute;
		top:270px;
		margin-left: 45%;
	}
	#caja3{
		height: 100px;
		width: 100px;
		position: absolute;
		top:100px;
		margin-left: 75%;
	}

	#countTime{
		position: relative;
		float: right;
		font-size: 40px;
	}